@{
    ViewBag.Title = "Home Page";
}

<hr />
<div class="container" style="background-color:#ede9e9">
    <div class="" id="site_content" style="position:relative;left:0%">
        <ul class="" id="images" style="width: 940px; height: 300px;">
            <li class="img-responsive" style="left: 0px; margin: 0px; position: absolute; width: 155px; display: block; overflow: hidden;"><img src="~/Content/slider/CurrentStudents_TopBanner_1920x800_0.jpg" width="600" height="300" alt="seascape_one"></li>
            <li class="img-responsive" style="left: 157px; margin: 0px; position: absolute; overflow: hidden; width: 155px; display: block;"><img src="~/Content/slider/students_with_books.jpg" width="600" height="300" alt="seascape_two"></li>
            <li class="img-responsive" style="left: 314px; margin: 0px; position: absolute; width: 155px; overflow: hidden; display: block;"><img src="~/Content/slider/books-1842306_1920.jpg" width="600" height="300" alt="seascape_three"></li>
            <li class="img-responsive" style="left: 471px; margin: 0px; position: absolute; width: 155px; overflow: hidden; display: block;"><img src="~/Content/slider/the-case-against-exit-exams_image.2e16d0ba.fill-1200x630.jpg" width="600" height="300" alt="seascape_four"></li>
            <li class="img-responsive" style="left: 628px; margin: 0px; position: absolute; width: 155px; overflow: hidden; display: block;"><img src="~/Content/slider/john-work-garrett-library-211375_1920.jpg" width="600" height="300" alt="seascape_five"></li>
             <li class="img-responsive" style="right: 0px; margin: 0px; position: absolute; width: 155px; display: block; overflow: hidden;"><img src="~/Content/slider/students_with_books.jpg" width="600" height="300" alt="seascape_seascape"></li>
            <li class="img-responsive" style="right: 0px; margin: 0px; position: absolute; width: 155px; display: block; overflow: hidden;"><img src="~/Content/slider/exams_1-770x433-770x433.webp" width="600" height="300" alt="seascape_seascape"></li>

        </ul>
    </div>
</div>




<div class="row">
    <div class="col-md-4">
        <h2>Share Books </h2>
        <p>
            Get useful books and share your books with others to get you points 
        </p>
        <p><a class="btn btn-default" href="~/contacts/create">contact us  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Provide time </h2>
        <p> taeacher can correct answers of tasks easly from any where and student can solve it any time any where </p>
        <p><a class="btn btn-default" href="~/contacts/create">contact us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Know level of your children</h2>
        <p>Perants Easly Can Folloe childen From Home  Contact With manager </p>
        <p><a class="btn btn-default" href="~/contacts/create">contact us  &raquo;</a></p>
    </div>
</div>

