@model string
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2> </h2>

<div class="container" style="margin-top:8%; width:100%;text-align:center">

    <h1 style="color:red">@Model.ToString()</h1>
</div>